* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
}
body {
  background-color: #f4f5ff;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.dashboard-container {
  background-color: blue;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
